hotkey-overlay {
    skip-at-startup
}
workspace "one"
workspace "two"
gestures {
    hot-corners {
        off
    }
}
cursor {
    hide-when-typing
}
input {
    keyboard {
        xkb {
            layout "us"
            options "ctrl:nocaps"
        }
        numlock
        repeat-delay 300
        repeat-rate 30
    }
    touchpad {
        tap
        natural-scroll
        scroll-factor 0.5
    }
}
output "eDP-1" {
    mode "1920x1080@60"
    scale 1.25
    position x=0 y=0
}
output "HDMI-A-1" {
    mode "1920x1080@60"
    position x=1536 y=0
}
layout {
    focus-ring { width 3; active-color "#1e66f5"; }
}
window-rule {
    match app-id="TUI.float|net.lutris.Lutris|steam|LocalSend"
    open-floating true
    open-maximized false
}
window-rule {
    match app-id="TUI.float"
    opacity 0.95
}
window-rule {
    open-maximized true
    draw-border-with-background false
}
animations {
     workspace-switch {
         spring damping-ratio=1.0 stiffness=5000 epsilon=0.0001
     }
     window-movement {
         spring damping-ratio=1.0 stiffness=5000 epsilon=0.0001
     }
     horizontal-view-movement {
         spring damping-ratio=1.0 stiffness=5000 epsilon=0.0001
     }
 }
screenshot-path "~/Images/Screenshot from %m-%d %H-%M.png"
prefer-no-csd
spawn-at-startup "fcitx5"
spawn-at-startup "pipewire"
spawn-at-startup "sh" "-c" "/home/mame/.config/niri/scripts/battery-monitor.sh"
environment {
    DISPLAY ":1"
    XDG_SESSION_TYPE "wayland"
    QT_QPA_PLATFORM "wayland"
    GDK_BACKEND "wayland"
    MOZ_ENABLE_WAYLAND "1"
    GTK_THEME "Adwaita"
    QT_STYLE_OVERRIDE "Adwaita"
    INPUT_METHOD "fcitx"
    QT_IM_MODULE "fcitx"
    XMODIFIER    "@im=fcitx"
}

binds {
    // app
    Mod+B     { spawn "obsidian"; }
    Mod+C     { spawn "vivaldi"; }
    Mod+F     { spawn "fuzzel"; }
    Mod+V     { spawn-sh "/home/mame/.local/opt/OpenCode/ai.opencode.desktop --no-sandbox"; }
    Mod+W     { spawn "sh" "-c" "/home/mame/.config/niri/scripts/codex-desktop.sh"; }
    Mod+R     { spawn "wlogout"; }
    Mod+T     { spawn-sh "ghostty --class='app' --command='tmux'"; }
    Mod+N     { spawn-sh "ghostty --class='app' --command='env TERM=xterm-256color ssh -tt nix'"; }
    // web
    Mod+G     { spawn-sh "vivaldi --new-window --app='https://grok.com/'"; }
    Mod+S     { spawn-sh "vivaldi --new-window --app='https://app.slack.com/client/'"; }
    Mod+D     { spawn-sh "vivaldi --new-window --app='https://discord.com/app'"; }
    Mod+Y     { spawn-sh "vivaldi --new-window --app='https://www.youtube.com'"; }
    // system
    Mod+Q     { close-window; }
    Mod+1     { spawn-sh "ghostty --class='TUI.float' --command='bluetuith'"; }
    Mod+2     { spawn-sh "ghostty --class='TUI.float' --command='wiremix'"; }
    Mod+3     { spawn-sh "ghostty --class='TUI.float' --command='impala'"; }
    Mod+4     { spawn-sh "ghostty --class='app'       --command='btop'"; }
    Mod+5     { spawn "sh" "-c" "wl-mirror eDP-1"; }
    // move
    Mod+H     { focus-column-left; }
    Mod+J     { focus-workspace-down; }
    Mod+K     { focus-workspace-up; }
    Mod+L     { focus-column-right; }
    Mod+Shift+H { focus-monitor-left; }
    Mod+Shift+L { focus-monitor-right; }
    // move column
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+L     { move-column-right; }
    Mod+Ctrl+J     { move-column-to-workspace-down; }
    Mod+Ctrl+K     { move-column-to-workspace-up; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }
    // column size
    Mod+O { maximize-column; }
    Mod+Shift+O { fullscreen-window; }
    // sound
    Mod+I { spawn "sh" "-c" "/home/mame/.config/niri/scripts/volume.sh 5%+"; }
    Mod+U { spawn "sh" "-c" "/home/mame/.config/niri/scripts/volume.sh 5%-"; }
    Mod+Shift+U { spawn "sh" "-c" "/home/mame/.config/niri/scripts/volume.sh muted"; }
    // bright
    F1 { spawn "sh" "-c" "/home/mame/.config/niri/scripts/brightness.sh 10%-"; }
    F2 { spawn "sh" "-c" "/home/mame/.config/niri/scripts/brightness.sh 10%+"; }
    // record
    Mod+Z { spawn "sh" "-c" "bash /home/mame/.config/niri/scripts/screen-record.sh";}
    Mod+X { screenshot; }
    // off
    Mod+Shift+E   { quit; }
}
